/*
* customer for citi survey
* Copyright 2014, Wiseperzy
* www.rabbitrewards.co.th
* 26/12/2017
*/

/* --- CUSTOM CSS --- */
/* Question custom */
li.box-q  {

    border:1px solid #cccccc ;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    padding: 2%;
	padding-left:10px;
	padding-right:10px;
    background-color: #fff;
    text-align: left;





-webkit-box-shadow: 0px 0px 33px 8px rgba(122,173,2,0.69);
-moz-box-shadow: 0px 0px 33px 8px rgba(122,173,2,0.69);
box-shadow: 0px 0px 33px 8px rgba(122,173,2,0.69);
}

body{
    /*
    display: inline-block;*/
    margin:auto;
    min-height: 700px;
    background-size: contain;
    background-color: #82bc00;



}

label{
    color:#666666;
}

.background-notfound{
    display: inline-block;
    background-image: url('../images/rabbit_nottarget.png');
    background-size: contain;
    background-repeat: no-repeat;

}
.main-header{

    background-color:black;

    overflow: inherit;
    height:70px;
    color:white;
    padding-left:15px;
    padding-right: 15px;
}
.head-left{
    float: left;

    text-align: left;
    padding-top:14px;
    padding-left:0;
}
.head-right{
    float: right;

    text-align: right;
    margin-top:15px;
    padding-right: 0;
}

.citi{

    min-width:100%;
    overflow: hidden;
    background: url('../images/bg-blueciti.png') repeat-x;
    background-size: contain;
}
.citi-f{
    background-color:#003d7b;
    min-width:100%;

    background: url('../images/bg-blueciti-h.png') repeat-x;
    background-size: contain;
    background-color:#003d7b;
}
.bg-normal{
    background: url('../images/bg-s.png') repeat-x;
}

.bg-citi{
    background: url('../images/bg-gradient-blue.png') repeat-x;
    background-size: contain;
}

.box-shadow{
    -webkit-box-shadow: inset 0px 0px 40px -2px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 40px -2px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 40px -2px rgba(0,0,0,0.75);
}

.bg-position-home{
    background-image: url("../images/survey/bg-index-f.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.bg-regis{
    background-image: url("../images/survey/bg-flare.jpg") no-repeat;
    background-position: top center;
    background-size: inherit;
    background-repeat: no-repeat;

}
.button-primary-c{
    background-color:black;
    color:#ff8300;
    padding:7px;
    border-radius: 30px;
    width:160px;
    font-size:1.2em;
    line-height:1em;
    margin:auto;
}
.button-primary-c:hover{
text-decoration: none;
}
a.btnc{

}
a.btnc:hover{
    text-decoration: none;
}

/****** Login Form ******/
